@model WebApplication1.Models.Address

@Html.HiddenFor(model => model.isaddres,new { Value = false})

<div class="row" style="padding:0px 15px 0px 15px">
    <div class="form-group col-sm-4">
        <div>
            @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div>
            @Html.LabelFor(model => model.middlename, htmlAttributes: new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(model => model.middlename, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.middlename, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div>
            @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="">
            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row" style="padding:0px 15px 0px 15px">
    <div class="form-group col-sm-4">
        <div>
            @Html.LabelFor(model => model.street, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.street, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div>
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div>
            @Html.LabelFor(model => model.zipcode, htmlAttributes: new { @class = "control-labe" })
            <div>
                @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zipcode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding:0px 15px 0px 15px">
    <input type="submit" value="Add resident" class="btn btn-default" onclick="addresident(@Html.IdFor(m  => m.isaddres))" />
    @Html.EditorFor(m => m.Residents)
</div>
<hr />






