@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Model.Articles.title*@
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @*@Model.Articles.date*@
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @*@Model.Articles.value*@
            @Html.DisplayNameFor(model => model.value)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.ActionLink("More...", "More", new { id = item.id })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
